grant {
  permission java.net.SocketPermission "*:1024-65535", "accept, connect, listen, resolve";
  permission java.io.FilePermission "<<ALL FILES>>", "read";
};

